<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="/">Movie Recommendation System</a>
        <div class="left-pad">
            <a href="/recomendation" class="active">Movie Finder</a>
            <div class="dropdown">
                <button class="dropbtn">Genre</button>
                <div class="dropdown-content">
                    <a href="Action">Action</a>
                    <a href="Comedy">Comedy</a>
                    <a href="Drama">Drama</a>
                    <a href="Scify">Sci-Fi</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Top Actors <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="Srk">Shah Rukh Kahn</a>
                    <a href="Suriya">Suriya</a>
                    <a href="ShahidKapoor">Shahid Kapoor</a>
                    <a href="Vijay">Vijay Sethupathi</a>
                    <a href="Ranbir">Ranbir Kapoor</a>
                    <a href="Manoj">Manoj Bajpayee</a>
                    <a href="RDJ">Robert Downey Jr.</a>
                </div>
            </div>
        </div>
    
</body>
</html>